
footer {
    background-color: #ca459b07;
    .container {
        @include container();
        
        text-align: center;
        padding: 20px 30px 0 30px;
        h2 {
            font: 400 1.3rem 'Inter';
            color: $color-gray3;
            margin-bottom: 2rem;
        }
        span {
            color: $color-main;
            font-weight: 600;
        }
        
        @include responsive-tablet {
            @include flexbox-between;
            padding: 22px 50px 0 50px;
            h2 {
                font: 400 1.3rem 'Inter';
                color: $color-gray3;
            }
            span {
                color: $color-main;
                font-weight: 600;
            }
        }  

        @include responsive-desktop {
            @include flexbox-between;
            padding: 22px 22px 0 22px;
        }
        h2 {
            font: 400 1.5rem 'Inter';
            color: $color-gray3;
        }
        span {
            color: $color-main;
            font-weight: 600;
        } 
    }    
}
